// prettier-ignore
{
	"presets": [
		["env",
      {
        "targets": {
          "node": "current"
        }
      }
		]
	],
	"plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
		"transform-class-properties",
		"transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-object-rest-spread",
  ]
}
